@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
    &:hover{
        color: rgba(255, 255, 255, 0.85);
    }
}

body{
    position: relative;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/bg.jpg");
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/bg.jpg'); 
    background-size: cover;
    background-attachment: fixed;
    background-color: #191b1e;
    color: white;
}

.logo{
    font-family: 'Anton', sans-serif;
}

.form-control{
    color: rgba(255, 255, 255, 0.8);
    &:focus{
        color: rgba(255, 255, 255, 0.8);
        border-color: #0d6efd;
        box-shadow: none;
    }
}
.btn-outline-primary{
    &:focus{
        box-shadow: none !important;
    }
}

.bg-dark{
    background: -webkit-linear-gradient(rgba(37, 37, 37, 0.8), rgba(37, 37, 37, 0.8)), url("../images/bg.jpg");
    background: linear-gradient(rgba(37, 37, 37, 0.8), rgba(37, 37, 37, 0.8)), url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-color: #1d1f22 !important;
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px; 
}
.content{
    min-height: 90vh;
}
.carousel{
    height: 400px;
    width: 100%;
    .carousel-inner{
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 0;
        .carousel-item{
            position: relative;
            img{
                max-height: 1000px;
                -webkit-mask-image: linear-gradient(to top, transparent 0%, black 100%);
                mask-image: linear-gradient(to top, transparent 0%, black 100%);
            }
            .carousel-movie-info{
                z-index: 1;
                position: absolute;
                left: 50%;
                transform: translate(-50%);
                text-align: center;
                padding: 0 15px;
                width: 80%;
                display: block;
                h1{
                    -webkit-text-stroke: 1px rgb(255, 255, 255);
                    color: transparent;
                    
                }
                .btn{
                    background-color: rgba(255, 255, 255, 0.85);
                    color: #343434aa;
                    z-index: 2;
                    font-weight: 500;
                    &:hover{
                        background-color: rgba(255, 255, 255, 0.694);
                    }
                    &:focus{
                        box-shadow: none !important;
                    }
                }
            }
        }
    }
}
.row{
    z-index: 1;
}

.slider-wrap{
    z-index: 1;
    margin-top: 15px;
    position: relative;
 
    .slider{
        display: flex;
        flex-direction: row;
        overflow: auto;
        margin-bottom: 20px;
        padding: 0;
        z-index: 1;   
        
        .item{
            margin: 10px 20px 10px 0;
            transition: all 0.4s ease-in-out;
            img{
                height: 300px;
                width: 200px;
            }
            &:hover{
                transform: scale(1.05);
            }
        }
        .left-arrow, .right-arrow{
            position: absolute;
            top:50%;
            color: rgba(255, 255, 255, 0.83);
            font-size: 30px;
            font-weight: 100;
            cursor: pointer;
            transition: all 0.4s ease-in-out;
            &:hover{
                transform: scale(1.5);
            }
        }
        .left-arrow{
            left: -30px;
        }
        .right-arrow{
            right: -30px;
        }
        
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.movie-grid{
    margin: 100px 0 20px 0;
    .title{
        margin-bottom: 30px;
    }
    .movie-card{
        background-color: transparent;
        border: none;
        margin: 10px 0;
        .card-img-top{
            &:hover{
                transform: scale(1.05);
            }
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
.card-img-top{
    border-radius: 0px;
    transition: all 0.4s ease-in-out;
    height: 100%;
}
.no-img{
    height: 100%;
    background-color: rgba(255, 255, 255, 0.714);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1d1f229e;
    text-align: center;
}
.show-more{
    margin: 20px 0;
}
.disable{
    pointer-events: none;
    &:hover{
        color: white;
    }
}


@media (min-width: 992px) {
    .left-arrow, .right-arrow{
        display: visible;
    }
    .carousel{
        height: 500px;
        .carousel-inner{
            .carousel-movie-info{
                bottom: 46% !important;
                width: 50% !important;
            }
        }
    }
}

@media (max-width: 992px) {
    .carousel-movie-info{
        bottom: 30% !important;
    }
    .left-arrow, .right-arrow{
        display: none;
    }
    .container{
        max-width: 100%;
    }
}

@media (max-width: 548px) { 
    .left-arrow, .right-arrow{
        display: none;
    }
    .carousel{
        height: 300px;
        .carousel-inner{
            margin-top: 55px;
            .carousel-movie-info{
                bottom: 25% !important;
            }
        }
    }
    .movies-grid-wrap{
        padding-top: 0;
    }
}

.footer{
    min-height: 90px;
    .copyright{
        padding: 30px 0px;
    }
}

.border-line{
    display: block;
    width: 100%;
    margin: 10px 0px;
    border-bottom: 1px solid #343434;
}

