*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.movie-seat{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 90vh;
    padding-top: 80px;
    margin: 0;
    form{
        display: inline;
        margin: 20px 0;
        label{
            margin-right: 10px;
        }
    }

    .showcase{
        background-color: rgba(0,0,0,0.1);
        padding: 5px 10px;
        border-radius: 5px;
        color: #777;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        li{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 10px;
            small{
                margin-left: 2px;
            }
        }
    }

    .seat{
        background-color: #444451;
        height: 17px;
        width: 20px;
        margin: 3px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        position: relative;
        display: inline-block;
        &.selected{
            background-color: #0d6efd;  
        }
        &.occupied{
            background-color: white;
            pointer-events: none;
        }

        &:nth-of-type(2){
            margin-right: 18px;
        }
        &:nth-last-of-type(2){
            margin-left: 18px;
        }
        .seat-text{
            visibility: hidden;
            position: absolute;
            font-size: 10px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        &:hover .seat-text{
            visibility: visible;
        }
    }

    .movie-seat-container{
        perspective: 1000px;
        margin: 15px;
        .screen{
            background-color: #ffff;
            height: 90px;
            width: 100%;
            margin: 15px 0;
            transform: rotateX(-45deg);
            box-shadow: 0 3px 10px rgba(255,255,255,0.7);
        }
        .movie-seat-row{
            display: flex;

            .seat{
                cursor: pointer;
                &:hover{
                    transform: scale(1.2);
                }
            }
        }
    }

    .total-price, .btn{
        margin: 15px 0;
    }

    .highlighted-text{
        color: #0d6efd;
        font-weight: bold;
    }
}